* {
    box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 18px;
    font-family: 'Droid Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6, label {
    color: #34495e;
}

/*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */
.pure-button {
    background-color: white;
    color: grey;
    border-radius: 5px;
}
.pure-game-button {
    border-radius: 5px;
    height: 30%;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #dadfe1;
    -ms-flex-item-align: center;
            -webkit-align-self: center;
            align-self: center;    
    font-size: 18px;
    font-weight: 100;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* Stop the bounding box when clicking button */
    box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pure-game-button:active {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .05) 30%, rgba(0, 0, 0, .3));
}
.pure-game-button:hover {

    /*    background-image: linear-gradient(transparent,rgba(0,0,0,.00) 40%,rgba(0,0,0,.01));
    */
}

/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */
.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);
    background: #2d3e50;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
}
.pure-menu.pure-menu-fixed {

    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
    height: 10%;

}
.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
    text-decoration: none;
    padding: .3em 1em;
}
.home-menu a {
    color: #6FBEF3;
}

/* This is the input box heading that appears on the blue section */
.input-box {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: rgba(21, 21, 21, 1);
    border: 3px solid rgba(21, 21, 21, 1);
    background-color: #ECF0F1;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
    font: inherit;
}
.deploy-button {
    background-color: white;
    color: rgba(21, 21, 21, 1);
    padding: 0.5em 2em;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 100;
    font: inherit;
}

/*
 * -- SPLASH STYLES --
 * This is the blue top section that appears on the page.
 */
#main-container {
    z-index: 1;
    overflow: hidden;    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed !important;
    background: white;
}

.bottom-container {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    margin: auto;
    top: 25%;
    position: absolute;
    text-align: center;
}

#main-container p {
    color: rgba(21,21,21,1);
    font-size: 18px;
    opacity: 0.8;
    font-weight: 100;
    line-height: 1.2em;
}

#main-container h1{
    color: rgba(21,21,21,1);
    font-size: 25px;
    margin-bottom: 0px;
    letter-spacing: 0.05em;
    opacity: 0.8;
    font-weight: 100;
    line-height: 1.2em;
}

#main-container h2{
    color: rgba(21,21,21,1);
    font-size: 25px;
    margin-bottom: 0px;
    font-weight: 100;
    line-height: 1.2em;
}

#top-container {
    height: 120px;
    padding: 40px;
    background-color: #2d3e50;
}

#top-container p {
   color: white;
   font-size: 20px; 
}

#tutorial-container {
    background-color: #446CB3;
    height: 100%;
    top: 0%;
    width: 100%;    
    position: absolute;
    color: white;
}

.tutorial-page-container {
    height: 100%;
    background-size: cover;
    background-position-x: 40%;
}

.mini-lesson {
    height: 30%;
    width: 100%;
    display: -webkit-flex;  
    display: -ms-flexbox;  
    display: flex;
            flex-flow: row nowrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
.mini-lesson .text {
    width: 70%;
    padding-left: 20px;
}

.mini-lesson .image {
    width: 30%;
}

.tutorial-page-multi {
    height: 100%;
    width: 100%;  
    display: -webkit-flex;  
    display: -ms-flexbox;  
    display: flex;
    -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    background-size: cover;
}


.tutorial-page-single {
    height: 100%;
    width: 100%;  
    display: -webkit-flex;  
    display: -ms-flexbox;  
    display: flex;
    -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;    
}

#tutorial-controls {
    height: 10%;
    width: 100%;
    background-color: #3A539B;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.tutorial-controls-button:active {
    background-color: #5D1F19;
}

.tutorial-controls-button {
    width: 25%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

#tutorial-progress-indicator {
    width: 50%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.tutorial-lesson {
    height: 30%;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 18px;
}

#lessons-container {
    width: 100%;
    height: 90%;
}

.tutorial-lesson img {
    height: 100px;
    width: auto;
}

.tutorial-text {
    width: 80%;
    text-align: center;
    margin-top: 50%; 
 }

.tutorial-title {
    width: 80%;
    text-align: center;
    font-size: 30px;
 }

 .tutorial-image {
    width: 40%;
 }

 .tutorial-image img {
    width: 100%;
    height: 100%;
 }

.tutorial-left {
    -webkit-flex-flow: row-reverse wrap;
        -ms-flex-flow: row-reverse wrap;
            flex-flow: row-reverse wrap;
}

#tutorial-progress-indicator {
    width: 30%;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.tutorial-anim-page-slide-left{
    transition: 0.8s;
    transform: translateX(-100%);
}

.tutorial-anim-page-slide-right{
    transition: 0.8s;
    transform: translateX(100%);
}

.tutorial-anim-page-slide-in-left{
    animation-name: anim-page-slide-in-left;
    animation-duration: 0.8s;
}

.tutorial-anim-page-slide-in-right{
    animation-name: anim-page-slide-in-right;
    animation-duration: 0.8s;
}

@keyframes anim-page-slide-in-left {
    0% {transform: translateX(100%);position: absolute;top: 0px;height:90%;}
    100% {transform: translateX(0%);position: absolute;top: 0px;height:90%;}
}

@keyframes anim-page-slide-in-right {
    0% {transform: translateX(-100%);position: absolute;top: 0px;height:90%;}
    100% {transform: translateX(0%);position: absolute;top: 0px;height:90%;}
}

.tutorial-progress-dot {
    border-radius: 50%;
    width: 10px;
    height: 10px;    
    background-color: grey;
}

.tutorial-progress-dot-active {
    background-color: white;
}

#lobby-container{
    overflow-y: scroll; 
    height: 100%;
    display: block;
    overflow: auto;
}

#lobby-container ul {
    list-style-type: none;
    padding-left: 0px;
}

#lobby-container h1 {
    list-style-type: none;
    padding-left: 0px;
    padding-top: 10px;
    font-size: 20px;
    color: rgba(21, 21, 21, 1);
    letter-spacing: 0.05em;
    opacity: 0.8;
    font-weight: 100;
}

#lobby-container li {
    list-style-type: none;
    padding-left: 0px;
    padding-bottom: 5px;
    font-size: 15px;
    color: rgba(21, 21, 21, 1);
}
.red-team-lobby-header {
    border-bottom: 2px solid red;
}
.blue-team-lobby-header {
    border-bottom: 2px solid blue;
}
#game-container {
    height: 90%;
    top: 50px;
    position: absolute;
    width: 100%;
    bottom: 100%;
}
#stats-container {
    height: 15%;
    width: 100%;
    margin: auto;
}
#joystick-container {
    height: 100%;
    width: 100%;
    margin: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
#controls-container {
    height: 65%;
    width: 100%;
    margin: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
#specials-container {
    height: 20%;
    width: 100%;
    margin: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
.special {
    width: 20%;
    height: 80%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
.special-circle {
    border-radius: 40%;
    float: left;
    display: block;
    padding-top: 100%;
    background-color: #dadfe1;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: white;
}

.special-disabled {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .15) inset, 0 0 6px rgba(0, 0, 0, .1) inset;
    padding-top: 60%;
    width: 60%;
    -webkit-filter: grayscale(1);
    transition: all 350ms;
}

.special-enabled {
    box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    /*box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.52);*/
    padding-top: 100%;
    width: 100%;
    transition: all 350ms;
}

.special-Attack-Melee {
    background-image: url("../images/flame_red.png");   
}
.special-Attack-Range {
    background-image: url("../images/arrow_red.png");   
}
.special-Attack-Base {
    background-image: url("../images/base_destroy_red.png");
}
.special-Attack-Cross-Lane {
    background-image: url("../images/base_destroy_red.png");
}

.special-Heal-Hero {
    background-image: url("../images/heart_green.png");
}
.special-Heal-Self-and-close {
    background-image: url("../images/heal_group_green.png");
}

.special-Heal-Special-Slow {
    background-image: url("../images/heal_group_green.png");
}
.special-Special-Invisibility {
    background-image: url("../images/eye_purple.png");
}
.special-Special-Trap {
    background-image: url("../images/bomb_purple.png");  
}

.special-Buff-Defense {
    background-image: url("../images/health_buff_blue.png");  
}
.special-Buff-Speed {
    background-image: url("../images/speed_blue.png");  
}
.special-Buff-Attack {
    background-image: url("../images/damage_buff_blue.png");  
}

#special-button-0 {
    margin-bottom: 60px;
}
#special-button-2 {
    margin-bottom: 60px;
}
.health-bar-container {
    height: 100%;
    width: 90%;
    margin: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

#death-container {
    background-color: grey;
}
#game-over-container {
    background-color: pink;
}
.state-container {
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    font-size: 40px;
    font-weight: bold;
    color: #ECF0F1;
    padding: 1em 1.6em;
    font-weight: 100;
}
#death-timer-container {
    width: 90%;
    height: 40%;
    margin: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
}
.state-text-container {
    width: 100%;
    height: 40%;
    margin: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
#respawn-text {
    font-size: 20px;
}
.blue-team {

    /*background: #ECF0F1;*/
    background: #4183D7 !important;
}
.red-team {

    /*background: #ECF0F1;*/
    background: #D91E18 !important;
}
.dead-team {
    background: #95A5A6;
}

/* do not group these rules */
*::-webkit-input-placeholder {
    color: #DADFE1;
}
*:-moz-placeholder {

    /* FF 4-18 */
    color: white;
}
*::-moz-placeholder {

    /* FF 19+ */
    color: white;
}
*:-ms-input-placeholder {

    /* IE 10+ */
    color: white;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
    color: white;
}
@media (max-width:20em) {

    /* For the iphone 4 at 320px wide */
    .specials-container {
        margin-top: 0px;
    }

    #tutorial-controls {
        font-size: 16px;
    }

}
@media (min-width:24em) {
    .pure-game-button {
        font-size: 24px;
    }
}

/* handle the landscape controller mode */
@media screen and (orientation:landscape) {
    #controls-container {
        width: 50%;
        height: 85%; /* from the header taking 15% height */
        margin: 0px;
    }
    #joystick-container {
        height: 90%;
    }
    .special {
        width: 30%;
    }
    #specials-container {
        width: 50%;
        height: 85%;
    }

    #special-button-0 {
        margin-bottom: 150px;
    }
    #special-button-1 {
        margin-top: 150px;
    }
    #special-button-2 {
        margin-bottom: 150px;
    }
}

/*
* -- TABLET (AND UP) MEDIA QUERIES --
* On tablets and other medium-sized devices, we want to customize some
* of the mobile styles.
*/
@media (min-width:48em) {

    /* We increase the body font size */
    body {
        font-size: 16px;
    }

    /* We want to give the content area some more padding */
    .content {
        padding: 1em;
    }

    /* We can align the menu header to the left, but float the
    menu items to the right. */
    .home-menu {
        text-align: left;
    }
    .home-menu ul {
        float: right;
    }

    /* We increase the height of the splash-container */

    /*    .splash-container {
        height: 500px;
    }*/

    /* We decrease the width of the .splash, since we have more width
    to work with */
    .splash {
        width: 50%;
        height: 80%;
    }
    .splash-head {
        font-size: 250%;
    }

    /* We remove the border-separator assigned to .l-box-lrg */
    .l-box-lrg {
        border: none;
    }
}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width:78em) {

    /* We increase the header font size even more */
    .splash-head {
        font-size: 300%;
    }
}

@-webkit-keyframes hideSpecialButton {
    from {
        padding-top: 100%;
        width: 100%;
    }
    to {
        padding-top: 70%;
        width: 70%;
    }
}

@keyframes hideSpecialButton {
    from {
        padding-top: 100%;
        width: 100%;
    }
    to {
        padding-top: 70%;
        width: 70%;
    }
}
