* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #34495e;
}

/*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */
.pure-button {
    background-color: white;
    color: grey;
    border-radius: 5px;
}

.pure-game-button {
    border-radius: 5px;
    height: 30%;
    justify-content: center;
    background-color: #dadfe1;
    align-self: center;    
    font-size: 18px;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* Stop the bounding box when clicking button */
    box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pure-game-button:active {
    background-image: linear-gradient(transparent,rgba(0,0,0,.05) 30%,rgba(0,0,0,.3));
}

.pure-game-button:hover {
/*    background-image: linear-gradient(transparent,rgba(0,0,0,.00) 40%,rgba(0,0,0,.01));
*/}

/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
    background: #2d3e50;
}

.pure-menu.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.home-menu a {
    color: #6FBEF3;
}

/* This is the input box heading that appears on the blue section */
.input-box {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: rgba(21,21,21,1);
    border: 3px solid rgba(21,21,21,1);
    background-color: #ECF0F1;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
}

.deploy-button{
    background-color: white;
    color: rgba(21,21,21,1);
    padding: 0.5em 2em;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 100;
}


/*
 * -- SPLASH STYLES --
 * This is the blue top section that appears on the page.
 */
 
 .main-container {
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed !important;
    background: #ECF0F1; 
 }

.controller-container {
    /* absolute center .splash within .splash-container */
    width: 100%;
    margin: auto;
    text-align: center;
}

.bottom-container {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px; 
    margin: auto;
    top: 25%;
    position: absolute;
    text-align: center;
}

.controller-container p {
    color: rgba(21,21,21,1);
    font-size: 18px;
    opacity: 0.8;
    font-weight: 100;
    line-height: 1.2em;
}

.controller-container h1{
    color: rgba(21,21,21,1);
    font-size: 25px;
    margin-bottom: 0px;
    letter-spacing: 0.05em;
    opacity: 0.8;
    font-weight: 100;
    line-height: 1.2em;
}

.controller-container h2{
    color: rgba(21,21,21,1);
    font-size: 25px;
    margin-bottom: 0px;
    font-weight: 100;
    line-height: 1.2em;
}

.top-container{
    height: 120px;
    padding-top: 60px;
    background-color: #2d3e50;
}

.top-container p {
   color: white;
   font-size: 20px; 
}

.lobby-container{
    overflow-y: scroll; 
    height: 100%;
    display:block;
    overflow:auto;
}

.lobby-container ul {
    list-style-type: none;
    padding-left: 0px;
}

.lobby-container h1 {
    list-style-type: none;
    padding-left: 0px;
    padding-top: 10px;
    font-size: 20px;
}

.lobby-container li {
    list-style-type: none;
    padding-left: 0px;
    padding-bottom: 5px;
    font-size: 15px;
    color: rgba(21,21,21,1);
}

.red-team-lobby-header {
        border-bottom: 2px solid red;
}
.blue-team-lobby-header {
        border-bottom: 2px solid blue;
}

.game-container {
    height: 90%;
    top: 50px;
    position: absolute;
    width: 100%;
    bottom: 100%;
}

.stats-container {
    height: 15%;
    width: 90%;
    margin: auto;
}

.controls-container {
    height: 60%;
    width: 100%;
    margin: auto;
    /*display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;*/
}

.context-controls-container {
    height: 10%;
    background-color: red;
}

.movement-controls-container {
    height: 100%;
    width: 90%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.specials-container {
    height: 25%;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.special {
    width: 22%;
    height: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.special-circle {
    border-radius: 50%;
    width: 100%;
    float:left;
    display:block;
    padding-top:100%;
    background-color: #dadfe1;
    box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.special-fire {
    background-image: url("../images/flame_red.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.special-heal {
    background-image: url("../images/heart_green.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 50% 65%;
}

.special-invisible {
    background-image: url("../images/eye_purple.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.special-disabled {
    box-shadow: 0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.1) inset;
    padding-top: 60%;
    width: 60%;
    -webkit-filter: grayscale(1);
}



#switch-button {
    width: 20%;
}

#up-button{
    width: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
#down-button{
    width: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
#forward-button{
    width: 48%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 0%;
    border-top-left-radius: 0%;
}
#backward-button{
    width: 48%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 0%;
}

.health-bar-container {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#health-bar-remaining {
    border-top-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 0px;

    /*border-radius: 5px;*/
    background-color: #26A65B;
    width: 100%;
    height: 40px;
    box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#health-bar-lost {
    border-top-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 5px;
    background-color: #90C695;
    width: 0%;
    height: 40px;
    box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.death-container {
    height: 90%;
    top: 50px;
    position: absolute;
    width: 100%;
    bottom: 100%;
    font-size: 40px;
    font-weight: bold;
    color: #ECF0F1;
    padding: 1em 1.6em;
    font-weight: 100;
}

#death-text-container {
    width: 100%;
    height: 40%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#death-timer-container {
    width: 90%;
    height: 40%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column wrap;
}

#respawn-text {
    font-size: 20px;
}

.blue-team{
        background: #4183D7;        
}

.red-team{
        background: #D91E18;
}

.dead-team{
    background: #95A5A6;
}


/* do not group these rules */
*::-webkit-input-placeholder {
    color: #DADFE1;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: white;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: white;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: white;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
    color: white;

}

@media (max-width: 20em){ /* For the iphone 4 at 320px wide */

    .specials-container {
        margin-top: 0px;
    }
}
@media (min-width: 24em){
   .pure-game-button{
        font-size: 24px;
    }
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {

    /* We increase the body font size */
    body {
        font-size: 16px;
    }
    /* We want to give the content area some more padding */
    .content {
        padding: 1em;
    }

    /* We can align the menu header to the left, but float the
    menu items to the right. */
    .home-menu {
        text-align: left;
    }
        .home-menu ul {
            float: right;
        }

    /* We increase the height of the splash-container */
/*    .splash-container {
        height: 500px;
    }*/

    /* We decrease the width of the .splash, since we have more width
    to work with */
    .splash {
        width: 50%;
        height: 80%;
    }

    .splash-head {
        font-size: 250%;
    }


    /* We remove the border-separator assigned to .l-box-lrg */
    .l-box-lrg {
        border: none;
    }

}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {
    /* We increase the header font size even more */
    .splash-head {
        font-size: 300%;
    }
}

@keyframes hideSpecialButton {
    from  {padding-top: 100%;    width: 100%;}
    to {padding-top: 70%;    width: 70%;}
}
