<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Rushmore</a>
    </div>
</div>

<div class="splash-container">
    <div class="splash">
        <div class="pure-g">               
            <input class="splash-input-box pure-u-1 pure-u-md-1-2" type="text" ng-model="username" ng-click="username = ''"/>
            <p class="splash-subhead pure-u-1 pure-u-md-1-2">
                Enter your username, then deploy into battle!
            </p>

            <a class="deploy-button pure-u-1 pure-u-md-1-2" id="deploy-button" ng-click="deploy()">Deploy</a>

        </div>        
    </div>
</div>