<div class="main-container">
    <div class="controller-container">
        <div class="top-container" style="display:none">

        </div>
        <div class="pure-g bottom-container">               
            <input class="input-box pure-u-1 pure-u-md-1-2" type="text" ng-model="username" ng-click="username = ''"/>
            <p class="pure-u-1 pure-u-md-1-2" style="padding-top:40px">
                Enter your name, then join a game in progress!
            </p>

            <a class="deploy-button pure-u-1 pure-u-md-1-2" id="deploy-button" ng-click="deploy()">Join Game</a>

        </div>        
    </div>
</div>