<div id="tutorial-container">
    <div id="lessons-container">

        <div id="tutorial-sliding-container" style="transform:translate3d({{xTranslate}}%, 0 ,0 ); -webkit-transform:translate3d({{xTranslate}}%, 0, 0)">
            <div id="tutorial-{{tutorial.tutIndex}}" class="tutorial-page-container" ng-repeat="tutorial in tutorials" ng-style="getStyle(tutorial)" style="width:25%;flex:1;"
                >

                <div class="tutorial-page-{{tutorial.tutType}}" ng-if="tutorial.tutType === 'single'">
                    <div class="tutorial-title">
                        {{tutorial.tutorialTitle}}
                    </div>
                    <div class="tutorial-image">
                    </div>
                    <div class="tutorial-text">
                        {{tutorial.tutorialText}}
                    </div>
                </div>

                <div class="tutorial-page-{{tutorial.tutType}}" ng-if="tutorial.tutType === 'multi'">
                    <div class="mini-lesson" ng-repeat="miniLesson in tutorial.miniLessons">
                        <div class="text">
                            <h2 style="font-size:20px;text-align:left">{{miniLesson.text}}</h2>
                            <p style="font-size:15px">{{miniLesson.description}}</p>
                        </div>
                        <div class="image">
                            <img ng-src="{{miniLesson.image}}" height="100" width="100">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="tutorial-controls">
        <div id="tutorial-prev-button" class="tutorial-controls-button" ng-click="prev()" style="-webkit-user-select: none;user-select:none">
            {{prevText}}
        </div>
        <div id="tutorial-progress-indicator">
            <div class="tutorial-progress-dot" ng-class="{'tutorial-progress-dot-active': currentTutorialIndex === {{tut.tutIndex}} }"
                ng-repeat="tut in tutorials">
            </div>
        </div>
        <div id="tutorial-next-button" class="tutorial-controls-button" ng-click="next()" style="-webkit-user-select: none;user-select:none">
            {{nextText}}
        </div>
    </div>
</div>