<div id="tutorial-container">
    <div id="tutorial-{{tutorial.tutIndex}}" class="tutorial-page" ng-repeat="tutorial in tutorials" ng-show="tutorial.tutIndex === currentTutorialIndex" style="background-size: cover; background-position-x: 40%; background-image: linear-gradient(to bottom, rgba(255,255,255,0) 70%,rgba(0,0,0,0.6) 100%), url('../../resources/images/base_cowboy.png')" >
            <div class="tutorial-title">
                {{tutorial.tutorialTitle}}
            </div>
            <div class="tutorial-image">
                <!-- <img src="{{tutorial.tutorialImage}}" > -->
            </div>
            <div class="tutorial-text">
                {{tutorial.tutorialText}}
            </div>
    </div> 
    <div id="tutorial-controls">
        <div id="tutorial-prev-button" ng-click="prev()" style="width: 20%;">
            {{prevText}}
        </div>
        <div id="tutorial-progress-indicator">
            <div class="tutorial-progress-dot" ng-class="{'tutorial-progress-dot-active': currentTutorialIndex === 0}">                
            </div>
            <div class="tutorial-progress-dot" ng-class="{'tutorial-progress-dot-active': currentTutorialIndex === 1}">                
            </div>
            <div class="tutorial-progress-dot" ng-class="{'tutorial-progress-dot-active': currentTutorialIndex === 2}">                
            </div>
        </div>
        <div id="tutorial-next-button" ng-click="next()" style="width: 20%;">
            {{nextText}}
        </div>
    </div>    
</div>
