<div id="tutorial-container">
    <div id="tutorial1" class="tutorial-page">
        <div class="tutorial-lesson">
            <div class="tutorial-test">
                this is a tutorial
            </div>
            <div class="tutorial-image">
                <img src="../../resources/images/flame_black.png" >
            </div>
        </div>
        <div class="tutorial-lesson tutorial-left">
            <div class="tutorial-test">
                this is a tutorial
            </div>
            <div class="tutorial-image">
                <img src="../../resources/images/flame_black.png" >
            </div>
        </div>
        <div class="tutorial-lesson">
            <div class="tutorial-test">
                this is a tutorial
            </div>
            <div class="tutorial-image">
                <img src="../../resources/images/flame_black.png" >
            </div>
        </div>
    </div> 
    <div id="tutorial-controls">
        <div>
            PREV
        </div>
        <div id="tutorial-progress-indicator">
            <div class="tutorial-progress-dot">                
            </div>
            <div class="tutorial-progress-dot">                
            </div>
            <div class="tutorial-progress-dot">                
            </div>
        </div>
        <div>
            NEXT
        </div>
    </div>    
</div>
