<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Rushmore</a>
    </div>
</div>

<div class="splash-container">
    <div class="splash">

        <input class="splash-input-box" type="text" ng-model="username" ng-click="username = ''"/>
        <p class="splash-subhead">
            Join the fight, destroy the enemy base, win the war.
        </p>
        <p>
            <a class="pure-button" id="deploy-button" ng-click="deploy()">Deploy</a>
        </p>
    </div>
</div>