<div class="splash-container">
    <h1>Headgears of War</h1>

    <input id="submit-button" type="submit" class="deploy-button" id="deploy-button" value="Click to Start!" ng-click="start()"></input>

    <div>
        <h1 style="margin:30px 15px 30px 15px">Set Your Name</h1>

        <input class="input-box" type="text" placeholder="Your Name" ng-model="username" ng-click="username = ''" id="player-name-input-box"
            ng-change="checkName()" autocomplete="off" style="margin-top:20px" />

        <input id="submit-button" type="submit" class="deploy-button" id="deploy-button" value="Join Game" style="margin-top:60px;"
            ng-class="{'valid-name-input': validname, 'invalid-name-input': !validname}" ng-disabled="!validname"></input>
        </form>
    </div>

</div>