<div id="leaderboard-container">
    <h1 ng-style="{'transform':'translateY(' + titleTranslate + '%)', '-webkit-transform':'translateY(' + titleTranslate + '%)'}">Leaderboard</h1>

    <div id="podiums-container" ng-style="{'transform': 'translateX(' + boardTransform + '%)'}">
        <div class="podium-container">
            <div class="podium-place second-place">
                <p>2</p>
            </div>
            <div class="podium-place first-place">
                <p>1</p>
            </div>
            <div class="podium-place third-place">
                <p>3</p>
            </div>
        </div>

        <div class="podium-container" >
            <div class="podium-place second-place">
                <p>2</p>
            </div>
            <div class="podium-place first-place">
                <p>1</p>
            </div>
            <div class="podium-place third-place">
                <p>3</p>
            </div>
        </div>
        
        <div class="podium-container" >
            <div class="podium-place second-place">
                <p>2</p>
            </div>
            <div class="podium-place first-place">
                <p>1</p>
            </div>
            <div class="podium-place third-place">
                <p>3</p>
            </div>
        </div>
        
        <div class="podium-container" >
            <div class="podium-place second-place">
                <p>2</p>
            </div>
            <div class="podium-place first-place">
                <p>1</p>
            </div>
            <div class="podium-place third-place">
                <p>3</p>
            </div>
        </div>
    </div>



    <div id="award-text-container">
        <div class="arrow" id="arrow-left" ng-click="prev()">
        </div>
        <h2 style="margin: 20px 0 0 0;">Most Kills</h2>
        <div class="arrow" id="arrow-right" ng-click="next()">
        </div>
    </div>
</div>