<div id="leaderboard-container">
    <h1 ng-style="{'transform':'translateY(' + titleTranslate + '%)', '-webkit-transform':'translateY(' + titleTranslate + '%)'}">Leaderboard</h1>

    <div id="podiums-container" ng-style="{'transform': 'translateX(' + boardTransform + '%)'}">
        <div class="podium-container">
            <div class="podium-place ">
                <div class="second-place player">
                </div>
                <div class="second-place box">
                    <p>2</p>
                </div>
            </div>
            <div class="podium-place ">
                <div class="first-place player">
                </div>
                <div class="first-place box">
                    <p>1</p>
                </div>
            </div>
            <div class="podium-place ">
                <div class="third-place player">
                </div>
                <div class="third-place box">
                    <p>3</p>
                </div>
            </div>
        </div>

        <div class="podium-container">
            <div class="podium-place ">
                <div class="second-place player">
                </div>
                <div class="second-place box">
                    <p>2</p>
                </div>
            </div>
            <div class="podium-place ">
                <div class="first-place player">
                </div>
                <div class="first-place box">
                    <p>1</p>
                </div>
            </div>
            <div class="podium-place ">
                <div class="third-place player">
                </div>
                <div class="third-place box">
                    <p>3</p>
                </div>
            </div>
        </div>

        <div class="podium-container">
            <div class="podium-place ">
                <div class="second-place player">
                </div>
                <div class="second-place box">
                    <p>2</p>
                </div>
            </div>
            <div class="podium-place ">
                <div class="first-place player">
                </div>
                <div class="first-place box">
                    <p>1</p>
                </div>
            </div>
            <div class="podium-place ">
                <div class="third-place player">
                </div>
                <div class="third-place box">
                    <p>3</p>
                </div>
            </div>
        </div>

        <div class="podium-container">
            <div class="podium-place ">
                <div class="second-place player">
                </div>
                <div class="second-place box">
                    <p>2</p>
                </div>
            </div>
            <div class="podium-place ">
                <div class="first-place player">
                </div>
                <div class="first-place box">
                    <p>1</p>
                </div>
            </div>
            <div class="podium-place ">
                <div class="third-place player">
                </div>
                <div class="third-place box">
                    <p>3</p>
                </div>
            </div>
        </div>
    </div>



    <div id="award-text-container">
        <div class="arrow" id="arrow-left" ng-click="prev()">
        </div>
        <h2 style="margin: 20px 0 0 0;">Most Kills</h2>
        <div class="arrow" id="arrow-right" ng-click="next()">
        </div>
    </div>
</div>