<div class="main-container">
    <div class="controller-container">
        <div class="top-container">
            <p>The game will start shortly...</p>
        </div>
        <div class="bottom-container lobby-container pure-g ">
                <div class="pure-u-1-2">
                    <h1 class="blue-team-lobby-header">Blue Team</h1>
                    <ul>
                        <li ng-repeat="player in players | filter: {team: 1}">
                          <p>{{player.username}}</p>
                        </li>                    
                    </ul>
                </div>
                <div class="pure-u-1-2">
                    <h1 class="red-team-lobby-header">Red team</h1>
                    <ul>
                        <li ng-repeat="player in players | filter: {team: 0}">
                          <p>{{player.username}}</p>                  
                        </li>   
                    </ul>
                </div>
        </div>
    </div>
</div>