<div class="splash-container">
    <div class="controller-container">
        <div class="top-container">
            Game starts in 5 seconds
        </div>
        <div class="pure-g bottom-container lobby-container">
            <div class="pure-u-1-2">
                <h1 class="blue-team-lobby-header">Blue Team</h1>
                <ul>
                    <li><p>Player 1</p></li>
                    <li><p>Player 1</p></li>
                    <li><p>Player 1</p></li>
                    <li><p>Player 1</p></li>
                    <li><p>Player 1</p></li>
                    <li><p>Player 1</p></li>
                    <li><p>Player 1</p></li>
                     <li><p>Player 1</p></li>
                    <li><p>Player 1</p></li>
                    <li><p>Player 1</p></li>
                    <li><p>Player 1</p></li>
                    <li><p>Player 1</p></li>
                    <li><p>Player 1</p></li>
                    <li><p>Player 1</p></li>
                </ul>
            </div>
            <div class="pure-u-1-2">
                <h1 class="red-team-lobby-header">Red team</h1>
                <ul>
                    <li><p>Player 1</p></li>
                    <li><p>Player 1</p></li>
                    <li><p>Player 1</p></li>
                    <li><p>Player 1</p></li>
                    <li><p>Player 1</p></li>
                    <li><p>Player 1</p></li>
                    <li><p>Player 1</p></li>
                </ul>
            </div>

        </div>
    </div>
</div>