<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Rushmore</a>
    </div>
</div>

<div class="splash-container">
    <div class="splash">
        <div class="pure-g">
            <div class="pure-u-1-2">
                <a class="pure-button pure-game-button" ng-click="inputButtonClicked('left')">
                    <div >MOVE UP</div>
                </a>
            </div>
            <div class="pure-u-1-2">
                <div class="pure-button pure-game-button" ng-click="inputButtonClicked('right')">
                    <div>MOVE DOWN</div>
                </div>
            </div>
        </div>
        
    </div>
</div>