<div id="game-container" class="pure-g" ng-show="!playerDead">
    <div class="pure-u-1 stats-container">
        <div class="health-bar-container">
            <div id="health-bar-remaining"> 
                <img src="../../resources/images/heart_white.png" height="100%" width="auto">
            </div>
            <div id="health-bar-lost"> 
                
            </div>
        </div>
    </div> 
    <div id="controls-container" class="pure-u-1">        
        <div id="joystick-container" ng-controller="JoystickController" >
            <canvas id="joystick-canvas" style="width:90%;height:90%;" > 
            Get a better browser, bro.
            </canvas>     
        </div>              
    </div>  
    <div class="pure-u-1 specials-container">
        <div class="special" ng-repeat="special in specialPowers">
            <div id="special-button-{{special.index}}" class="special-circle" ng-class="[special.class, special.enabled]" ng-click="useSpecial(special)">            
            </div>              
        </div>
    </div>  
</div>   
<div class="death-container pure-g" ng-show="playerDead">
    <div id="death-text-container" class="pure-u-1">
        YOU DIED
    </div> 

    <div id="death-timer-container" class="pure-u-1">
        <div id="respawn-text">
            Respawn in...
        </div>
        <div id="death-timer">
            {{timeToRespawn}}
        </div>
    </div> 
</div>
